body {
  background-color: yellow;
  font-family: 'Megrim', cursive;
  margin: 0 auto;
  padding: 0; }

h1 {
  font-family: 'Megrim', cursive;
  font-size: 56px;
  margin: 0 auto;
  text-align: center; }

h2 {
  font-family: 'Megrim', cursive;
  font-size: 48px;
  margin: 0 auto;
  text-align: center; }

h3 {
  font-family: 'Megrim', cursive;
  font-size: 34px;
  margin: 0 auto;
  text-align: center; }

h4 {
  font-family: 'Megrim', cursive;
  font-size: 24px;
  margin: 0 auto;
  text-align: center; }

h5 {
  font-family: 'Megrim', cursive;
  font-size: 18px;
  margin: 0 auto;
  text-align: center; }

header {
  background-color: white;
  margin: 0 auto;
  padding: 0;
  height: 100px; }

footer {
  background-color: white;
  margin: 0 auto;
  padding: 0;
  height: 50px; }

.theCats {
  background-color: yellow;
  height: 900px;
  width: 100%; }

input {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 350px;
  padding: 15px; }

button {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 10px;
  border-radius: 20%; }
